.pageNav {
  display: flex;
  height: 64px;
  padding: 0 200px 0 224px;
  justify-content: center;
  align-items: stretch;
  gap: 80px;
  align-self: stretch;
  background: var(--fff, #fff);
}

.navWrap {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
  align-self: stretch;
}

.navItem {
  display: flex;
  padding: 0 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  text-decoration: none;
  color: var(--darkgray, #666);
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 2px solid transparent;
}

.navItem:hover {
  border-bottom: 2px solid #d9d9d9;
  transition: 0.3s;
}

.active {
  border-bottom: 2px solid var(--green, #007f59);
}

.active:hover {
  border-bottom: 2px solid var(--green, #007f59);
}
