.mainTagWrap {
  display: flex;
  height: 126px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.wrap {
  display: flex;
  width: 1000px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
}
